.CodeSelection {
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  line-height: 0.7em;
  font-weight: 900;
  color: #f44c69;
  transition: all ease .5s;
  padding: 2px 5px;
}

.CodeSelection:hover {
  cursor: pointer;
  background-color: #fff;
}

.CodeSelection .hljs-keyword { color: #f44c69; }